@model Tenant
@{
    ViewData["Title"] = "Tenant Details";
}

<h1>Tenant Details</h1>

<dl>
    <dt>Tenant Name</dt>
    <dd>@Model.TenantName</dd>
    <dt>Phone Number</dt>
    <dd>@Model.TenantPhone</dd>
    <dt>Document Status</dt>
    <dd>@Model.TenantDocument</dd>
    <dt>Actions</dt>
    <dd>
        <a asp-action="EditTenant" asp-route-id="@Model.Id">Edit Tenant</a> |
        <a asp-action="TenantIndex">Back To List</a>
    </dd>   
</dl>


<h1>Tenant History</h1>

<table>
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Payment Date</th>
            <th>Price agreed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TenantHistory)
        {
            <tr>
                <td>@item.RoomInQuestion.RoomNumber</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.PaymentDate</td>
                <td>@item.RoomPrice</td>
            </tr>
        }

    </tbody>

</table>