@model Contract



<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-1">
                <h5>@Model.RoomInQuestion.RoomNumber</h5>
            </div>
            <div class="col-2">
                <h5>@Model.TenantInQuestion.TenantName</h5>
            </div>
            <div class="col-2">
                <h5>@Model.RoomPrice</h5>
            </div>
            <div class="col-2">
                <h5>@Model.PaymentDate</h5>
            </div>
            <div class="col-2">
                <h5>@Model.StartDate</h5>
            </div>
            <div class="col-2">
                <h5>@Model.EndDate</h5>
            </div>
            <div class="col-1">
                <a class="btn btn-info" asp-action="EditContract" asp-route-id="@Model.Id">Edit Contract</a>
            </div>
        </div>

