@model Room
@{
    ViewData["Title"] = "Details Room";
}

<h1>Room Details</h1>

<dl>
    <dt>Room Number</dt>
    <dd>@Model.RoomNumber</dd>
    <dt>Room Type</dt>
    <dd>@Model.RoomType</dd>
    <dt>Action</dt>
    <dd>
        <a asp-action="EditRoom" asp-route-id="@Model.RoomInQuestionId">Edit Room</a> |
        <a asp-action="RoomIndex">Back To List</a>
    </dd>  
</dl>


<h1>Room History</h1>

<table>
    <thead>
        <tr>
            <th>Tenant Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Payment Date</th>
            <th>Price agreed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RoomHistory)
        {
        <tr>
            <td>@item.TenantInQuestion.TenantName</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.PaymentDate</td>
            <td>@item.RoomPrice</td>        
        </tr>
        }
        
    </tbody>
    
</table>