@model CreateContractViewModel

@{
    ViewData["Title"] = "Create Contract";
}

<h1>Create New Contract</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateContract" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomInQuestionId" class="control-label"></label>
                <select asp-for="RoomInQuestionId">
                    @foreach (var item in Model.RoomList)
                    {
                    <option value="@item.RoomInQuestionId">@item.RoomNumber</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TenantInQuestionId" class="control-label"></label>
                <select asp-for="TenantInQuestionId">
                    @foreach (var item in Model.TenantList)
                    {
                        <option value="@item.TenantInQuestionId">@item.TenantName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="RoomPrice" class="control-label"></label>
                <input asp-for="RoomPrice" class="form-control" />
                <span asp-validation-for="RoomPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
               @* @Html.EditorFor(Model => Model.EndDate)*@

                <input data-val="false" asp-for="EndDate" class="form-control" />
                @*<span asp-validation-for="EndDate" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ContractIndex">Back to List</a>
</div>

